<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="auth-container card p-4 shadow-sm">
    <h2 class="text-center mb-4">{{ isRegisterMode ? 'Register' : 'Login' }}</h2>
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
      <!-- <div class="mb-3" *ngIf="isRegisterMode">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          [(ngModel)]="authData.username"
          required
        /> -->
      <!-- </div> -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="username"
          class="form-control"
          [(ngModel)]="authData.email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="authData.password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">
        {{ isRegisterMode ? 'Register' : 'Login' }}
      </button>
    </form>
    <p class="text-center mt-3">
      {{ isRegisterMode ? 'Already have an account?' : 'Don’t have an account?' }}
      <a class="text-primary fw-bold" (click)="toggleMode()">
        {{ isRegisterMode ? 'Login' : 'Register' }}
      </a>
    </p>
  </div>
</div>